<ion-header>
  <ion-navbar>
    <ion-title>keyrm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <ion-fab right bottom>
        <button ion-fab color="light" (click)="itemTapped($event)"><ion-icon name="create"></ion-icon></button>
    </ion-fab>
    
    <ion-slides class="ionSlides">
        <ion-slide>
            <table class="calender">
                <tr>
                    <td *ngFor="let string of week">
                        <div class="weekdays">
                            {{string}}
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let week of dates">
                    <td *ngFor="let date of week.week" [ngClass]="{'clicked':clicked == date.date}" (click)="setClicked(date.date)" tappable>
                        <div>
                            <div class="dates">
                                {{date.date}}
                            </div>
                            <div class="festival">
                                愚人节
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </ion-slide>

        <ion-slide>
            <table class="calender">
                <tr>
                    <td *ngFor="let string of week">
                        <div class="weekdays">
                            {{string}}
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let week of dates">
                    <td *ngFor="let date of week.week" [ngClass]="{'clicked':clicked == date.date}" (click)="setClicked(date.date)" tappable>
                        <div>
                            <div class="dates">
                                {{date.date}}
                            </div>
                            <div class="festival">
                                愚人节
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </ion-slide>





    </ion-slides>
    <ion-list>
        <ion-list-header class="listHeader">
            该日所记
        </ion-list-header>
        <ion-card>
            <img src="assets/img/test1.png"/>
            <ion-card-content>
                <ion-card-title>
                    2017.5.1
                </ion-card-title>
                <p>
                    The most popular industrial group ever, and largely
                    responsible for bringing the music to a mass audience.
                </p>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <ion-list>
        <ion-list-header class="listHeader">
            去年今日
        </ion-list-header>
        <ion-card>
            <img src="assets/img/test2.JPG"/>
            <ion-card-content>
                <ion-card-title>
                    2016.5.1
                </ion-card-title>
                <p>
                    The most popular industrial group ever, and largely
                    responsible for bringing the music to a mass audience.
                </p>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>